[flake8]
select=C,E,F,W,D,I,ANN,N,Q,DAR
exclude = .git,src/domainClient
ignore=ANN101, ANN204, I900, DAR103, W503
docstring-convention=google
max-line-length = 100
format = | %(path)s | %(row)d | %(col)d | %(code)s | %(text)s |
inline-quotes = "
