# coding: utf-8

"""
    Domain Group API V1

    Provides public access to Domain's microservices  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from domainClient.api_client import ApiClient


class AgentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def agents_get(self, id, **kwargs):  # noqa: E501
        """Retrieves a specific agent details, including contact information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_get(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Agent identifier (required)
        :return: DomainAgencyServiceV1ModelAgentDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.agents_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.agents_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def agents_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a specific agent details, including contact information.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_get_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Agent identifier (required)
        :return: DomainAgencyServiceV1ModelAgentDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method agents_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `agents_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v1/agents/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DomainAgencyServiceV1ModelAgentDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def agents_get_listings(self, id, **kwargs):  # noqa: E501
        """Gets listing using the contact id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_get_listings(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Agent identifier (required)
        :param datetime date_updated_since: Filter to remove listings not updated since before the given date time
        :param bool included_archived_listings: Filter to remove listings that have been archived
        :param int page_number: Page number for paginated results
        :param int page_size: Page size for paginated results
        :return: list[DomainPublicAdapterWebApiModelsV1ListingsListing]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.agents_get_listings_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.agents_get_listings_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def agents_get_listings_with_http_info(self, id, **kwargs):  # noqa: E501
        """Gets listing using the contact id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_get_listings_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: Agent identifier (required)
        :param datetime date_updated_since: Filter to remove listings not updated since before the given date time
        :param bool included_archived_listings: Filter to remove listings that have been archived
        :param int page_number: Page number for paginated results
        :param int page_size: Page size for paginated results
        :return: list[DomainPublicAdapterWebApiModelsV1ListingsListing]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'date_updated_since', 'included_archived_listings', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method agents_get_listings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `agents_get_listings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'date_updated_since' in params:
            query_params.append(('dateUpdatedSince', params['date_updated_since']))  # noqa: E501
        if 'included_archived_listings' in params:
            query_params.append(('includedArchivedListings', params['included_archived_listings']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v1/agents/{id}/listings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DomainPublicAdapterWebApiModelsV1ListingsListing]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def agents_search(self, query, **kwargs):  # noqa: E501
        """Search for agents by name.  # noqa: E501

        The returned Agent ID can be used to get an agent details by ID. See `GET /agents/{id}/`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_search(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The name, or portion of name, to search for. (required)
        :param int page_number: Page number for paginated results
        :param int page_size: Page size for paginated results (maximum 20)
        :return: list[DomainAgentSearchV1ModelAutoSuggestAgentResultDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.agents_search_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.agents_search_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def agents_search_with_http_info(self, query, **kwargs):  # noqa: E501
        """Search for agents by name.  # noqa: E501

        The returned Agent ID can be used to get an agent details by ID. See `GET /agents/{id}/`  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.agents_search_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str query: The name, or portion of name, to search for. (required)
        :param int page_number: Page number for paginated results
        :param int page_size: Page size for paginated results (maximum 20)
        :return: list[DomainAgentSearchV1ModelAutoSuggestAgentResultDto]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method agents_search" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in params or
                params['query'] is None):
            raise ValueError("Missing the required parameter `query` when calling `agents_search`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v1/agents/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[DomainAgentSearchV1ModelAutoSuggestAgentResultDto]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
