# coding: utf-8

"""
    Domain Group API V1

    Provides public access to Domain's microservices  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from domainClient.api_client import ApiClient


class ProductRatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def products_rate_for_new_listing(self, rate_for_new_listing_request, **kwargs):  # noqa: E501
        """Retrieves summary agency information associated to the current user.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.products_rate_for_new_listing(rate_for_new_listing_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DomainPublicAdapterWebApiModelsV1ProductsRateForNewListingRequestModel rate_for_new_listing_request: (required)
        :return: DomainPublicAdapterWebApiModelsV1ProductsRateForNewListingModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.products_rate_for_new_listing_with_http_info(rate_for_new_listing_request, **kwargs)  # noqa: E501
        else:
            (data) = self.products_rate_for_new_listing_with_http_info(rate_for_new_listing_request, **kwargs)  # noqa: E501
            return data

    def products_rate_for_new_listing_with_http_info(self, rate_for_new_listing_request, **kwargs):  # noqa: E501
        """Retrieves summary agency information associated to the current user.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.products_rate_for_new_listing_with_http_info(rate_for_new_listing_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DomainPublicAdapterWebApiModelsV1ProductsRateForNewListingRequestModel rate_for_new_listing_request: (required)
        :return: DomainPublicAdapterWebApiModelsV1ProductsRateForNewListingModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['rate_for_new_listing_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method products_rate_for_new_listing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'rate_for_new_listing_request' is set
        if ('rate_for_new_listing_request' not in params or
                params['rate_for_new_listing_request'] is None):
            raise ValueError("Missing the required parameter `rate_for_new_listing_request` when calling `products_rate_for_new_listing`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'rate_for_new_listing_request' in params:
            body_params = params['rate_for_new_listing_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/v1/products/ratefornewlisting', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DomainPublicAdapterWebApiModelsV1ProductsRateForNewListingModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
